/* general selectors */
:root {
  font-family: 'Merriweather', serif;
  font-size: 16px;
}

body {
  padding-inline: 5rem;
  padding-block: 0;
  margin: 0;
}

body * {
  color: black;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}


/* navbar selectors */
.navbar {
display: flex;
align-items: center;
gap: 40px;
height: 100px;
}
.navbar a:first-child {
  font-size: 1.5rem;
}

/* mobile navbar */
.navbar-mobile {
  z-index: 4;
  position: fixed;
  top: 0;
  bottom: 0;
  right: -15rem;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.3s;
  transition-timing-function: ease-in;
  gap: 25px;
  position: absolute;
}
.mobile-cover {
  z-index: 3;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0,0,0,0);
  pointer-events: none;
  transition: 0.2s;
  transition-timing-function: ease-out;
}
.show-mobile-cover {
  /* to add with JavaScript */
  background: rgba(0,0,0,0.5);
  pointer-events: all;
  transition: 0.2s;
  transition-timing-function: ease-out;
}
.navbar-mobile > a:first-of-type {
  margin-top: 85px;
}
.navbar-mobile > i:first-of-type {
  position: relative;
  top: 50px;
  left: 78px;
}
.show-navbar-mobile {
  /* to add with JavaScript */
  right: 0;
  transition: 0.2s;
  width: 15rem;
}

/* header selectors */

#main-photo {
  border-radius: 50%;
  height: 240px;
  width: 240px;
  object-fit: cover;
  object-position: 0 24%;
}

h1, h2 {
  font-family: 'Lato', sans-serif;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-weight: 300;
}

.header {
  margin-block: 4.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.d-none-mobile {
  display: none;
}

@media (max-width: 650px) {
  /* mobile/tab */
  .d-none-small {
    display: none;
  }
  .d-mobile-nav {
    display: flex;
    justify-content: space-between;
  }
  .body-small {
    padding-inline: 2rem;
  }
}
